@model Turnos.Models.Especialidad
<h4>Especialidad</h4>
<div>
    <form asp-action="Create">
        <div>
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion"></input>
        <span asp-validation-for="Descripcion"></span>
        </div>
        <div>
        <input type="submit" value="Guardar"/>
        </div>
    </form>
</div>