@model Turnos.Models.Especialidad
<h4>Especialidad</h4>
<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ID_Especialidad"/>
        <div>
            <label asp-for="Descripcion"></label>
            <input asp-for="Descripcion">
            <span asp-validation-for="Descripcion"></span>
        </div>
        <div>
            <input type="submit" value="Salvar">
        </div>
    </form>
</div>