@model Turnos.Models.Especialidad
<h4>Especialidad</h4>
<div>
    <form asp-controller="Especialidad" asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ID_Especialidad"/>
        <div>
            <label asp-for="Descripcion">@*Aquí colocaría el label, como no puse nada, cojerá el nombre del campo*@</label>
            <input asp-for="Descripcion">
            <span asp-validation-for="Descripcion"></span>
        </div>
        <div>
            <input type="submit" value="Salvar">
            <button type="button" onclick="location.href='@Url.Action("Index", "Especialidad")'">Cancelar</button>
        </div>
    </form>
</div>