@model IEnumerable<Turnos.Models.Especialidad>
<!DOCTYPE html>
<html>
    <head> 
        @*Aquí se hacen los comentarios*@
        <title>Primera Vista Especialidades</title>    
    </head>
    <body>
        <a asp-action="Create">Nuevo</a>
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.Descripcion)</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                <tr> 
                    @*asdf no sirve para nada, pero la función Lamda necesita un primer parámetro obligatoriamente, aquí solo usamos i*@
                    <td>
                        @Html.DisplayFor(asdf => i.Descripcion)
                    </td> 
                    <td>
                        <a asp-action="Edit" asp-route-id="@i.ID_Especialidad">Editar</a>
                        <a asp-action="Delete" asp-route-id="@i.ID_Especialidad">Eliminar</a>
                    </td>
                </tr> 
                }                          
            </tbody>
        </table>
    </body>
</html>