@model IEnumerable<Turnos.Models.Especialidad>
<!DOCTYPE html>
<html>
    <head> 
        @*Aquí se hacen los comentarios*@
        <title>Vista Especialidades</title>    
    </head>
    <body>
        <p>
            <a asp-action="Create" class="btn-floating btn-large green accent-4"><i class="material-icons">person_add</i></a>
        </p>       
        <table class=" highlight">
            <thead class="blue lighten-1">
                <tr>
                    <th style="border-radius: 0;">@Html.DisplayNameFor(Model => Model.Descripcion)</th> 
                    <th style="border-radius: 0;">Acciones</th>
                </tr>
            </thead>
            <tbody class="blue lighten-4">
                @foreach (var i in Model)
                {
                <tr> 
                    <td style="border-radius: 0;">
                        @*asdf no sirve para nada, pero la función Lamda necesita un primer parámetro obligatoriamente, aquí solo usamos i*@
                        @Html.DisplayFor(asdf => i.Descripcion)
                    </td> 
                    <td style="border-radius: 0;">
                        <a asp-action="Edit" asp-route-id="@i.ID_Especialidad"><i class="material-icons">edit</i></a> |
                        <a asp-action="Delete" asp-route-id="@i.ID_Especialidad"><i class="material-icons  red-text">delete</i></a>
                    </td>
                </tr> 
                }                          
            </tbody>
        </table>
    </body>
</html>