@model IEnumerable<Turnos.Models.Especialidad>
<!DOCTYPE html>
<html>
    <head> 
        <title>Primera Vista Especialidades</title>    
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(w => w.Descripcion)</th> 
                </tr>
            </thead>
            <tbody>
                @*Aquí va un comentario*@
                @foreach (var item in Model)
                {
                <tr> 
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                </tr> 
                }
              
            </tbody>
        </table>
    </body>
</html>