<!DOCTYPE html>
<html>
    <head> 
        <title>Primera Vista Especialidades</title>    
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Descripción</th> 
                </tr>
            </thead>
            <tbody>
                @*Aquí va un comentario*@
                <tr>
                    <td>Traumatologo</td>
                </tr>
                <tr> 
                    <td>Cardiologo</td>
                </tr>
            </tbody>
        </table>
    </body>

</html>