@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Esta aplicación ha sido desarrollada por <a href="https://www.linkedin.com/in/william-de-la-rosa-080746121/"><b>William De La Rosa</b></a> con fines educativos.</p>
