@model Turnos.Models.Paciente;
<div class="row">
    <form asp-action="Create" class="col s12">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre"/>
                <span asp-validation-for="Nombre"></span>
            </div>
            <div class="input-field col s6">
                <label asp-for="Apellido"></label>
                <input asp-for="Apellido"/>
                <span asp-validation-for="Apellido"></span>
            </div>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">home</i>
            <label asp-for="Direccion"></label>
            <input asp-for="Direccion"/>
            <span asp-validation-for="Direccion"></span>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <label asp-for="Telefono"></label>
            <input asp-for="Telefono"/>
            <span asp-validation-for="Telefono"></span>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <label asp-for="Email"></label>
            <input asp-for="Email"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="row">
                <div class="col s6 m6">
                    <!-- <input type="submit" class="waves-effect waves-light btn" value="Guardar"/> -->
                    <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
                        <i class="material-icons right">send</i>
                     </button>
                </div>
                <div class="col s6 m6">
                    <a asp-action="Index" class="waves-effect waves-light btn"><i class="material-icons left">undo</i> Volver a la lista</a>
                </div>
            </div>
    </form>
</div>
